APP_ENV=
APP_DEBUG=
DB_DRIVER=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
VIEW_FORMAT=

#MySQL
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
DB_HOST_PORT=

#Nginx 
NGINX_PORT=

#phpMyAdmin
PMA_PORT=
PMA_HOST=
PMA_USER=
PMA_PASSWORD=